/* -------------------------------------------------- team section style --------------------------------------------------*/
.teamTitle{
  position:absolute;
  top: -10px;
  left: 100px;
  font-family: Montserrat-ExtraBold, serif;;
  font-size: 170px;
  color: rgba(249,69,38,0.2);
  font-weight: bold;
  opacity:0.17;
  background: -webkit-linear-gradient(-67deg, rgba(249,69,38,0.2),rgba(249,69,38,0.2), rgba(0,8,86,0.2), rgba(0,8,86,0.2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.teamSubTitle{
  position:absolute;
  top: 70px;
  left: 150px;
  font-size:75px;
  font-weight:bold;
  font-family:Montserrat-ExtraBold, serif;
  color:white;
}

.teamDetail{
  position: absolute;
  top: 82px;
  left:450px;
  width: 800px;
  color: #fff;
  font-size: 30px;
  text-align: left;
}

.profileContainer{
  margin-top:90px;
  margin-bottom: 200px;
}

.profile{
  margin-bottom:50px;
}

.detail{
  padding-top:30px;
  padding-left:10%;
  padding-right:11%;
  text-align: left;
}

.name{
  font-size:28px;
  font-weight:bold;
  color:white;
}

.seo{
  font-size:30px;
  color:white;
}

.description{
  font-size:20px;
  color:white;
}

.imgCircle{
  border-radius:50%;
  z-index:1;
}

.teamIn{
  position:absolute;
  z-index: 1;
  top: 145px;
  left: 148px;
}

/* --------------------------------------- team style according to screen size -------------------------------------------------*/
@media only screen and (max-width: 1200px) {
  .teamTitle {
    font-size: 8em;
  }
  .teamSubTitle{
    top: 45px;
    left: 135px;
    font-size:60px;
  }
  .teamDetail{
    top: 55px;
    left: 350px;
    width: 660px;
    color: #fff;
    font-size: 27px;
  }
  .profileContainer{
    margin-top:70px;
  }
  .detail{
    padding-left:12%;
  }
}

@media only screen and (max-width: 992px) {
  .teamTitle {
    left:60px;
    font-size: 7em;
  }
  .teamSubTitle{
    top: 40px;
    left: 90px;
    font-size:50px;
  }
  .teamDetail{
    top: 50px;
    left: 257px;
    width: 550px;
    color: #fff;
    font-size: 21px;
  }
  .profileContainer{
    margin-top:35px;
  }
  .teamIn{
    top: 150px;
    left: 150px;
  }
  .name{
    font-size:23px;
  }
}

@media only screen and (max-width: 767px) {
  .teamTitle {
    top: -10px;
    left: 30px;
    font-size: 5.5em;
  }
  .teamSubTitle{
    top: 35px;
    left: 50px;
    font-size:30px;
  }
  .teamDetail{
    top: 37px;
    left: 150px;
    width: 190px;
    color: #fff;
    font-size: 15px;
  }
  .profileContainer{
    margin-top:0px;
  }
  .detail{
    text-align: center;
  }
  .name{
    font-size:24px;
  }
  .seo{
    font-size:24px;
  }
  .description{
    font-size:17px;
  }
  .teamIn{
    position:absolute;
    z-index: 1;
    top: 150px;
    left: 220px;
  }
}
