.subTitle{
  position:absolute;
  top: 35px;
  left: 160px;
  font-size:70px;
  font-weight:bold;
  color:white;
}

.div1{
  color:white;
  font-size:10px;
  transform:rotate(90deg);
}

.div2{
  color:white;
  font-size:20px;
  transform:rotate(90deg);
}

.img{
  margin-top:100px;
}
