footer {
  position: relative;
  height: 280px;
  background-color: #000121;
  text-align: center;
  padding-top: 30px;
  font-family:Roboto, serif;
  clear: both;
}

.title{
  font-size:26px;
  color:white;
}

.setWhite{
  color:white;
}

.alignLeft{
  text-align: left;
}

.alignCenter{
  text-align:center;
}



