
.title{
  position:absolute;
  top: 15px;
  left: 100px;
  font-family: Roboto, serif;
  font-size: 164px;
  color: #52193a;
  font-weight: bold;
  background: -webkit-linear-gradient(-80deg, #52193a,#52193a,#52193a, rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subTitle{
  position:absolute;
  top: 80px;
  left: 155px;
  font-size:70px;
  font-weight:bold;
  font-family:Roboto, serif;
  color:white;
}

.connectIcon{
  font-size:60px;
  color:white;
}

.lastIcon{
  vertical-align:middle;
}

@media only screen and (min-width: 1200px) {

  .connectIcon{
    font-size:70px;
    color:white;
  }
  .lastIcon{
    width:75%;
    height:80%;
    vertical-align:middle;
  }
}


@media only screen and (max-width: 1200px) {
  .title {
    font-size: 8em;
  }
  .subTitle{
    top: 60px;
    left: 135px;
    font-size:60px;
  }
  .connectIcon{
    font-size:70px;
    color:white;
  }
  .lastIcon{
    width:120%;
    height:80%;
    vertical-align:middle;
  }
}

@media only screen and (max-width: 992px) {
  .title {
    font-size: 7em;
  }
  .subTitle{
    top: 55px;
    left: 135px;
    font-size:50px;
  }
  .connectIcon{
    font-size:55px;
    color:white;
  }
  .lastIcon{
    width:120%;
    height:80%;
    vertical-align:middle;
  }
}

@media only screen and (max-width: 767px) {
  .title {
    top:10px;
    left:20px;
    font-size: 4.5em;
  }
  .subTitle{
    top: 40px;
    left: 50px;
    font-size:30px;
  }
  .connectIcon{
    font-size:40px;
    color:white;
  }
  .lastIcon{
    width:120%;
    height:80%;
    vertical-align:middle;
  }
}

