.subTitle{
  position:absolute;
  top: 35px;
  left: 160px;
  font-size:70px;
  font-weight:bold;
  color:white;
}
.content{
  text-align:left;
  padding-left: 160px;
}

.description{
  font-size:20px;
  color:white;
  padding-top: 60px;
}

.buttonDownload{
  margin-top:150px;
  background: transparent;
  color: white;
  border-radius: 30px;
  border-width: 2px;
  padding: 2px 15px 2px 15px;
}


