
#app {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

h1, h2, h3, h4 {
  font-family: Montserrat,sans-serif;
}

p {
  font-family: Roboto, sans-serif;
}

button:focus {
  outline: none;
}
/*
#1. Introduction Section
*/

header #st-logo {
  top: 30px;
}

header #st-logo img {
  width: 95px;
}
@media only screen and (max-width: 992px) {
  header #st-logo {
    padding-top: 50px;
  }
}
@media only screen and (max-width: 767px) {
  header #st-logo img {
    width: 100px;
  }
}

.skilltechtypetext {
  font-family: Montserrat-ExtraBold, sans-serif;
}
@media only screen and (max-width: 767px){
  .hero-section-video-dark .headlines-wrapper {
    top: 280px;
  }
}

/*
************

Night Sky with twinkling Star


************
*/

/* ==============================================================================================
Nick Mkrtchyan
https://www.facebook.com/sonick.pk
http://www.Mkrtchyan.zz.mu
================================================================================================= */

@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
  from {background-position: 0;}
  to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
  z-index: -10;
}

.stars {
  background:#000 url(../assets/images/stars.png) repeat top center;
  z-index:-2;
}

.twinkling{
  background:transparent url(../assets/images/twinkling.png) repeat top center;
  z-index:-1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.clouds{
  background:transparent url(../assets/images/clouds3.png) repeat top center;
  z-index:-3;

  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}
/*
*/
.st-nav-trigger {
  opacity: 0.8 !important;
}
/*
==========================================
 */
/*
#2. Our Benefits Section
 */
.benefits_section {
  padding-bottom: 146px;
  background: url('../assets/images/our_benefits.png') no-repeat center;
  background-size: cover;
}
.benefits_section p {
  margin-left: 2px;
}
.subtitle_description {
  font-family: Roboto,sans-serif;
  font-size: 20px;
}
@media only screen and (max-width: 992px) {
  .benefits {
    position: relative;
    top: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .benefits {
    position: relative;
    top: 60px;
  }
}
@media only screen and (max-width: 576px) {
  .benefits {
    position: relative;
    top: 120px;
  }
}
.bounce-enter {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
.bounce-enter.bounce-enter-active {

}
.bounce-leave {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
}
.bounce-leave.bounce-leave-active {

}

/*
#3. Compare Section
 */
.compare_section {
  /*background: url('../assets/images/compare_bkg.png') no-repeat top;*/
  background: none;
  z-index: 1;
}
/*==================================== Team and Connect Section =================================*/
.team_connect{
  height: auto;
  width: 100%;
  background: url("../assets/images/team_connect_bg.png") no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  padding-top: 160px;
  padding-bottom: 50px;
}
/*==================================== RoadMap and WhitePaper Section =================================*/
.roadmap_whitepaper{
  z-index: 1;
  height: auto;
  width: 100%;
  background: url("../assets/images/roadmap_whitepaper_bg.png") no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  /*padding-top: 160px;*/
  /*padding-bottom: 50px;*/
}

.rotated1{
  left:-60px;
}

.rotated2{
  left:80px;
}

.rotated3{
  left:220px;
}

.rotated4{
  left:360px;
}

.rotated5{
  left:500px;
}

.rotated6{
  left:640px;
}

.rotated7{
  left:770px;
}

@media only screen and (max-width: 1200px) {
  .rotated1{
    left:-150px;
  }
  .rotated2{
    left:-20px;
  }

  .rotated3{
    left:120px;
  }

  .rotated4{
    left:260px;
  }

  .rotated5{
    left:400px;
  }

  .rotated6{
    left:540px;
  }

  .rotated7{
    left:680px;
  }
}

@media only screen and (max-width: 992px) {
  .rotated1{
    left:-200px;
  }
  .rotated2{
    left:-80px;
  }

  .rotated3{
    left:20px;
  }

  .rotated4{
    left:130px;
  }

  .rotated5{
    left:240px;
  }

  .rotated6{
    left:350px;
  }

  .rotated7{
    left:460px;
  }
}

@media only screen and (max-width: 767px) {
  .rotated1{
    left:-25px;
  }
  .rotated2{
    left:20px;
  }

  .rotated3{
    left:70px;
  }

  .rotated4{
    left:123px;
  }

  .rotated5{
    left:165px;
  }

  .rotated6{
    left:210px;
  }

  .rotated7{
    left:260px;
  }
}


/*======================================== WhitePaper Section ===============*/

#downbutton:hover{
  color:darkblue;
  background:white;
}

/*================================ Footer Section ==================*/
footer p {
  font-size: unset !important;
}

/*========================================= Roadmap Section ==================*/
#button_left{
  position: absolute;
  width:200px;
  height:200px;
  background:url('../assets/images/arrow_left1.png') no-repeat;
  -webkit-transform: scale(0.7);
}

#button_left:hover{
  -webkit-transition: all 300ms ease-in;
  -webkit-transform: scale(0.9);
  background:url('../assets/images/arrow_left2.png') no-repeat;
}

#button_right{
  position: absolute;
  left:130px;
  width:200px;
  height:200px;
  background:url('../assets/images/arrow_right1.png') no-repeat;
  -webkit-transform: scale(0.7);
}

#button_right:hover{
  -webkit-transition: all 300ms ease-in;
  -webkit-transform: scale(0.9);
  background:url('../assets/images/arrow_right2.png') no-repeat;
}


.rotatedDiv:hover > img{
  display:block;
}

/*========================================= Join Section ===================================*/
/*#join_section{*/
  /*background:#020a3e;*/
/*}*/

.join_section {
  background: linear-gradient(rgba(20, 10, 170, 0.45),rgba(20, 10, 170, 0.45)), url('../assets/images/join_bg.png') no-repeat center;
  background-size:cover;
}
