
#app {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
/*
#1. Introduction Section
 */
.video-overlay {
  background: url(../assets/images/introduction.png) repeat;
  opacity: 0.3;
}
.hero-section-video-dark .hero-video video {
  margin-top: -250px;
}
.hero-section-video-dark .col-lg-12 {
}
.hero-section-video-dark h4
{
  font-family: Roboto, serif;
  line-height: 44px;
  font-size: 37px;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
/*
==========================================
 */
/*
#2. Our Benefits Section
 */
.benefits_section {
  background: url('../assets/images/our_benefits.png') no-repeat;
}

/*==================================== Team and Connect Section =================================*/
.team_connect{
  height: auto;
  width: 100%;
  background: url("../assets/images/team_connect_bg.png") no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  padding-top: 160px;
  padding-bottom: 50px;
}
/*==================================== RoadMap and WhitePaper Section =================================*/
.roadmap_whitepaper{
  height: auto;
  width: 100%;
  background: url("../assets/images/roadmap_whitepaper_bg.png") no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  padding-top: 160px;
  padding-bottom: 50px;
}

.rotated1{
  left:-60px;
}

.rotated2{
  left:90px;
}

.rotated3{
  left:240px;
}

.rotated4{
  left:390px;
}

.rotated5{
  left:540px;
}

.rotated6{
  left:690px;
}

.rotated7{
  left:830px;
}

@media only screen and (max-width: 1200px) {
  .rotated1{
    left:-150px;
  }
  .rotated2{
    left:-20px;
  }

  .rotated3{
    left:120px;
  }

  .rotated4{
    left:260px;
  }

  .rotated5{
    left:400px;
  }

  .rotated6{
    left:540px;
  }

  .rotated7{
    left:680px;
  }
}

@media only screen and (max-width: 992px) {
  .rotated1{
    left:-200px;
  }
  .rotated2{
    left:-80px;
  }

  .rotated3{
    left:40px;
  }

  .rotated4{
    left:160px;
  }

  .rotated5{
    left:280px;
  }

  .rotated6{
    left:400px;
  }

  .rotated7{
    left:520px;
  }
}

@media only screen and (max-width: 767px) {
  .rotated1{
    left:-25px;
  }
  .rotated2{
    left:20px;
  }

  .rotated3{
    left:70px;
  }

  .rotated4{
    left:123px;
  }

  .rotated5{
    left:165px;
  }

  .rotated6{
    left:210px;
  }

  .rotated7{
    left:260px;
  }
}


















/*
=========================================
 Connect Section
*/

/*.connect_section {*/
  /*height: auto;*/
  /*width: 100%;*/
  /*background: url("../assets/images/connect_bg.png") no-repeat;*/
  /*background-size: cover;*/
  /*text-align: center;*/
  /*position: relative;*/
  /*padding-top: 160px;*/
  /*padding-bottom: 50px;*/
/*}*/



/*
=========================================
 Team Section
*/


/*
=========================================
 WhitePaper Section
*/

.whitepaper_section{
  height: auto;
  width: 100%;
  background: url("../assets/images/whitepaper_bg.png") no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  padding-top: 146px;
  padding-bottom: 146px;
}

#downbutton:active{
  background:transparent;
  border-style:none;
}

/*
=========================================
 Roadmap Section
*/




.arrowButton{
  position: relative;
  width:400px;
  height:200px;
}

#button_left{
  position: absolute;
  width:200px;
  height:200px;
  background:url('../assets/images/arrow_left1.png') no-repeat;
}

#button_left:hover{
  -webkit-transition: all 500ms ease-in;
  -webkit-transform: scale(1.2);
  background:url('../assets/images/arrow_left2.png') no-repeat;
}

#button_right{
  position: absolute;
  left:130px;
  width:200px;
  height:200px;
  background:url('../assets/images/arrow_right1.png') no-repeat;
}

#button_right:hover{
  -webkit-transition: all 500ms ease-in;
  -webkit-transform: scale(1.2);
  background:url('../assets/images/arrow_right2.png') no-repeat;
}
