.title {
  position:relative;
  top: 243px;
  font-family: Montserrat, serif;
  font-size: 8.3em;
  color: #52193a;
  font-weight: bold;
  opacity: 0.31;
  background: -webkit-linear-gradient(0deg, rgba(0, 11, 115, 0.4), rgba(255, 120, 0, 0.2));
  background: linear-gradient(0deg, rgba(0, 11, 115, 0.4), rgba(255, 120, 0, 0.2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pos_title {
  position: relative !important;
  top: 133px !important;
}

.introWaveClass {
  position: absolute;
  left: 0;
}

@media only screen and (max-width: 1200px) {
  .title {
    font-size: 6.3em;
  }

  .pos_title {
    top: 157px !important;;
  }
}

@media only screen and (max-width: 992px) {
 .title {
   font-size: 5.3em;
 }
  .pos_title {
    top: 169px !important;
  }
}

@media only screen and (max-width: 767px) {
  .title {
    font-size: 2.5em;
  }
  .pos_title {
    top: 190px !important;;
  }
}

.scrollIndicator {
  bottom: 40px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}
