/*--------------------------- RoadMap section style ----------------------------*/
.roadmapTitle{
  position:absolute;
  top: -25px;
  left: 100px;
  font-family: Roboto, serif;
  font-size: 164px;
  color: rgba(249,69,38,0.3);
  font-weight: bold;
  opacity:0.17;
  background: -webkit-linear-gradient(-78deg, rgba(249,69,38,0.3),rgba(1,10,96,0.2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.roadmapSubTitle{
  position:absolute;
  top: 45px;
  left: 125px;
  font-size:70px;
  font-weight:bold;
  font-family:Montserrat, serif;
  color:white;
}

.subTitleDetail{
  width: 600px;
  position: absolute;
  top: 130px;
  left: 135px;
  font-size: 26px;
  color: #fff;
  text-align: left;
  font-family:Roboto, serif;
}

.main{
  margin-bottom:300px;
  margin-top:300px;
  position:relative;
}

.text{
  text-align: right;
  color:white;
  font-family:Montserrat Regular;
}

.rotated {
  position:absolute;
  width:400px;
  height: 100px;
  transform: rotate(90deg); /* Equal to rotateZ(45deg) */
}

.roadmap_line{
  position: absolute;
  left: 50px;
  top: 239px;
}

.activeDot{
  display:none;
}

.img{
  position: absolute;
  left: 339px;
  top: -73px;
}
.span1{
  font-size:25px;
}
.span2{
  font-size:15px;
}

.arrowButton{
  position: relative;
  width:400px;
  height:200px;
  float:right;
}
.roadDiv{
  color:white;
  text-align: left;
  margin-top:50px;
}
.roadDetailTitle{
  font-size:50px;
  font-family:Montserrat, serif;
  font-weight:bold;
}
.roadDetailDate{
  font-size:16px;
  font-style: italic;
}
.roadDetails{
  margin-top:10px;
  font-family:Roboto, serif;
  font-size:20px;
}

/*------------------------ WhitePaper styles -------------------------------*/
.whitepaperTitle{
  position:absolute;
  top: 1200px;
  left: 170px;
  font-family: Montserrat ExtraBold;
  font-size: 164px;
  color: rgba(249,69,38,0.4);
  opacity:0.37;
  background: -webkit-linear-gradient(-80deg, rgba(249,69,38,0.4),rgba(249,69,38,0.4), rgba(1,10,96,0.2),rgba(255,255,255,0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.whitepaperSubTitle{
  position:absolute;
  top: 1280px;
  left: 170px;
  font-size:70px;
  font-weight:bold;
  color:white;
  font-family: Montserrat ExtraBold;
}
.content{
  text-align: left;
  padding-top: 220px;
  padding-bottom: 40%;
}

.description{
  font-size:30px;
  color:white;
  padding-top: 170px;
}

.buttonDownload{
  margin-top: 100px;
  background: transparent;
  color: #fff;
  border-radius: 50px;
  border-width: 3px;
  padding: 2px 15px;
  width: 400px;
  height: 50px;
  font-size: 25px;
  font-family: Montserrat Regular;
}


/*-----------------------------------------------  styles according to screen ------------------------------------*/
@media only screen and (max-width: 1200px) {
  .roadmapTitle {
    font-size: 8em;
  }
  .roadmapSubTitle{
    top: 30px;
    left: 120px;
    font-size: 60px;
  }
  .subTitleDetail{
    width: 600px;
    position: absolute;
    top: 100px;
    left: 130px;
    font-size: 23px;
    color: #fff;
    text-align: left;
  }
  .roadmap_line{
    position: absolute;
    left: -10px;
    top: 246px;
    width: 1000px;
  }
  .roadDetailTitle{
    font-size:40px;
  }

  .whitepaperTitle{
    top: 1200px;
    left: 115px;
    font-size: 8em;
  }
  .whitepaperSubTitle{
    top: 1255px;
    left: 110px;
    font-size:60px;
  }
  .content{
    text-align: left;
    padding-top: 145px;
    padding-bottom: 40%;
  }
  .description{
    font-size:27px;
    color:white;
    padding-top: 170px;
  }

}

@media only screen and (max-width: 992px) {
  .roadmapTitle {
    left:120px;
    font-size: 7em;
  }
  .roadmapSubTitle{
    top: 25px;
    left: 130px;
    font-size: 50px;
  }
  .subTitleDetail{
    width: 500px;
    position: absolute;
    top: 90px;
    left: 135px;
    font-size: 20px;
    color: #fff;
    text-align: left;
  }

  .main{
    margin-top:200px;
  }
  .roadmap_line{
    position: absolute;
    left: -75px;
    top: 249px;
    width: 900px;
  }
  .img{
    position: absolute;
    left: 339px;
    top: -73px;
  }
  .span1{
    font-size:20px;
  }
  .span2{
    font-size:11px;
  }
  .roadDetailTitle{
    font-size:30px;
  }

  .whitepaperTitle{
    top: 1150px;
    left: 110px;
    font-size: 7em;
  }
  .whitepaperSubTitle{
    top: 1200px;
    left: 108px;
    font-size: 40px;
  }
  .content{
    text-align: left;
    padding-top: 130px;
    padding-bottom: 40%;
  }
  .description{
    font-size:24px;
    color:white;
    padding-top: 170px;
  }
}

@media only screen and (max-width: 767px) {
  .roadmapTitle {
    top:0px;
    left:10px;
    font-size: 3.5em;
  }
  .roadmapSubTitle{
    top: 25px;
    left: 20px;
    font-size: 30px;
  }
  .subTitleDetail{
    width: 300px;
    position: absolute;
    top: 60px;
    left: 20px;
    font-size: 15px;
    color: #fff;
    text-align: left;
  }
  .main{
    display:none;
  }
  .arrowButton{
    position: relative;
    width:360px;
    height: 120px;
    margin-top: -50px;
    float:none;
  }
  .roadDetailTitle{
    font-size:28px;
  }

  .whitepaperTitle{
    top: 600px;
    left: 10px;
    font-size: 3.2em;
  }
  .whitepaperSubTitle{
    top: 615px;
    left: 10px;
    font-size: 30px;
  }
  .content{
    text-align: left;
    padding-top: 0px;
    padding-bottom: 40%;
  }
  .description{
    font-size: 20px;
    color: #fff;
    padding-top: 115px;
  }
  .buttonDownload{
    margin-top: 100px;
    background: transparent;
    color: #fff;
    border-radius: 50px;
    border-width: 3px;
    padding: 2px 15px;
    width: 320px;
    height: 40px;
    font-size: 20px;
    font-family: Montserrat Regular;
  }

}
